@charset "utf-8";

/* reset */
*{margin: 0; padding: 0;}
li{list-style: none;}
.clearfix:after{
    content:"";display: block; clear:both;
}
/* body */
div.wrap{
    width: 1000px;
    margin: 0 auto;
    background-color : skyblue;

}

div.wrap > ul > li{
    background-color: pink;
    width: 20%;
    /* display: inline-block; */
    float: left;
    text-align: center;
    line-height: 50px;


}

.visual{
    height: 300px;
    background-color: skyblue;
}


/* div.wrap ul li{}
.wrap li{}
.menu > li{}
.menu li{} */