@charset "utf-8"
/*init*/
*{margin: 0;padding: 0;box-sizing: border-box;}
li{list-style: none; margin: 0 auto;}
a:link,a:visited{content:"",dispaly:block;clear:both;}

/*header*/
{float: left;width: 1000px;margin: 0;}
